<!DOCTYPE html>

<header>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
</header>
<body>
  <div class="ui secondary pointing menu">
    <a  href="/" class="item ">
      Home
    </a>
    <a  href="/api/courses" class="item ">
      courses
    </a>
    <a href="/api/requests" class="item ">
      request
    </a>
    <a class="item " href="/api/users"  >
      students
    </a>
    <div class="right menu">
      <a class="ui item" href="/account" ><i class="user icon"></i></a>
      <a class="ui item" href="/logout">
        Logout
      </a>
    </div>
  </div>
  <div class="ui segment">
    <p>
  