<%- include('header'); -%> 
<h1>welcome to our site </h1>


<div class="ui list">
  <div class="item">
    <i class="book icon"></i>
    <a  href="/courses" class="item">
    Courses
    </a>  
  </div>
  <div class="item ">
    <div class="ui ">
      <i class="mail icon"></i> 23
    </div>
    <a  href="/requests" class="item">
     requests
    </a>
  </div>
  
  <div  class="item">
    <i class="graduation cap icon"></i>
    <a href="/users"  class="item">
      Students
    </a>
    </div>
</a>
</div>

</p>
</div>
</body>
<%- include('_footer') %>