<%- include('header'); -%> 

<form class="ui form">
  <div class="field">
    <label>Name</label>
    <input type="text" name="Name" placeholder= "Name">
  </div>



<div class="field">
<button class="ui button" type="submit" style="margin-top: 10px;">Submit</button>
</div>
</form>

</div>
</body>